<div class="md:flex md:-mx-4 mb-5">

    <div class="md:w-1/2 md:px-4">
        <div class="o-from-control {{ modifier }}">
            {% render "@label" with {some: 'values'} %}
            {% render "@input-text" with {some: 'values'} %}
            {% render "@input-note" with {some: 'values'} %}
        </div>
    </div>

    <div class="md:w-1/2 md:px-4">
        <div class="o-from-control {{ modifier }}">
            {% render "@label" with {some: 'values'} %}
            {% render "@input-text" with {some: 'values'} %}
            {% render "@input-note" with {some: 'values'} %}
        </div>
    </div>

</div>

<div class="md:flex md:-mx-4 mb-5">

    <div class="md:w-1/2 md:px-4">
        <div class="o-from-control {{ modifier }}">
            {% render "@label" with {some: 'values'} %}
            {% render "@radio" with {some: 'values'} %}
            {% render "@input-note" with {some: 'values'} %}
        </div>
    </div>

    <div class="md:w-1/2 md:px-4">
        <div class="o-from-control {{ modifier }}">
            {% render "@label" with {some: 'values'} %}
            {% render "@checkbox" with {some: 'values'} %}
            {% render "@input-note" with {some: 'values'} %}
        </div>
    </div>

</div>

<div class="md:flex md:-mx-4 mb-5">

    <div class="w-full md:px-4">
        <div class="o-from-control {{ modifier }}">
            {% render "@label" with {some: 'values'} %}
            {% render "@select" with {some: 'values'} %}
            {% render "@input-note" with {some: 'values'} %}
        </div>
    </div>

</div>

<div class="md:flex md:-mx-4 mb-5">

    <div class="w-full md:px-4">
        <div class="o-from-control {{ modifier }}">
            {% render "@label" with {some: 'values'} %}
            {% render "@textarea" with {some: 'values'} %}
            {% render "@input-note" with {some: 'values'} %}
        </div>
    </div>

</div>

<div class="md:flex md:-mx-4 mb-5">

    <div class="w-full md:px-4">
        <div class="o-from-control {{ modifier }}">
            {% render "@label" with {some: 'values'} %}
            {% render "@toggle" with {some: 'values'} %}
            {% render "@input-note" with {some: 'values'} %}
        </div>
    </div>

</div>

<div class="md:flex md:-mx-4 mb-5">

    <div class="w-full md:px-4">
        <div class="o-from-control {{ modifier }}">
            {% render "@submit" with {some: 'values'} %}
        </div>
    </div>

</div>





